:root {
    --primary-950: #c4e9ff;
    --primary-900: #89c9f3;
    --primary-800: #71baea;
    --primary-700: #5caee4;
    --primary-600: #479acf;
    --primary-500: #2987c5;
    --primary-400: #2271a6;
    --primary-300: #185985;
    --primary-200: #0d3f61;
    --primary-100: #06263c;
    --primary-50: #041927;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}


body {
    font-size: 14px;
    background: #f4f4f4;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    padding: 4vh 2vh;
}

h1, h2, h3, h4, h5, h6, .btn {
    font-family: "JetBrains Mono", "Inter Semi Bold", sans-serif;
}

section.grid-container {
    min-width: 150px;
    width: 70dvw;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: repeat(3, minmax(50px, 1fr));
    border-radius: 24px;
    overflow: hidden;
    outline: #f4f4f4 4px solid;
    outline-offset: -1px;
}

div.grid-cell {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: var(--primary-500);
    user-select: none;
}

div.grid-cell:hover {
    background-color: #f2f2f2;
}

div.grid-cell.marked {
    cursor: not-allowed;
}

div.grid-cell.highlight-winning {
    background-color: #c4e9ff;
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}


span#vez-jogador {
    color: var(--primary-300);
    font-weight: bold;
    margin-left: .8ch;
    transform: translateY(2px);
}

div.painel {
    margin-top: 20px;
    padding: 8px;
    justify-content: space-between;
    border-radius: 28px;
}

div.painel .indicador {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;

    & * {
        font-family: "JetBrains Mono", "Inter Semi Bold", Sans-Serif;
        font-size: 1em;
    }
}

div.painel button.reiniciar {
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}


/* Utilidades */
.btn {
    display: flex;
    min-height: 48px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;

    border-radius: 20px;
    background: #00349C;
    box-shadow: 0 -1px 2px 1px rgba(0, 26, 77, 0.60) inset, 0 2px 4px 1px rgba(128, 170, 255, 0.75) inset, 0 2px 2px 0 rgba(5, 28, 74, 0.30);
}

.btn:active {
    animation: squash 100ms linear forwards;
    box-shadow: none;
    transition: all ease-in-out 100ms;
    background: var(--primary-600);
}

@keyframes squash {
    0% {
        scale: 0.97;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 100ms;
    }
    100% {
        scale: 0.97;
    }
}

.surface-tinted {
    border: none;
    min-height: 10px;
    color: white;


    border-radius: 20px;
    background: var(--primary-500);
    box-shadow: 0 -1px 2px 1px rgba(21, 20, 20, 0.6) inset, 0 2px 4px 1px rgba(255, 255, 255, 0.5) inset, 0 2px 2px 0 rgba(191, 191, 191, 0.30);
}

.rotatingSVG {
    animation: rotateSVG 500ms linear forwards;
}

@keyframes rotateSVG {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}

.surface-neutral {
    border: none;
    display: flex;
    min-height: 10px;
    opacity: 0.8;

    border-radius: 20px;
    background: #f2f2f2;
    box-shadow: 0 -1px 2px 1px rgba(181, 181, 181, 0.60) inset, 0 2px 4px 1px #FFF inset, 0 2px 2px 0 rgba(191, 191, 191, 0.30);
}





